<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.leapmotion.leapdaemon">

    <uses-feature android:name="android.hardware.usb.accessory" />

    <application android:label="Leap Client">

        <activity android:name=".MainActivity"
            android:label="Leap Client">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/leapclient_filter" />
        </activity>
        <service
            android:name=".RelayService"
            android:exported="false">
        </service>
    </application>

    <uses-sdk android:minSdkVersion="12" />
</manifest>
